body {
    background: #333333;
}
p.glav{
     color: #fff;
     font-size: 40px;
     transform: translate(1%, 0);
     vertical-align: px;
     float: left;

}
p.znak:after {
    content: '\21D2';
}
p.znak {
    color: aliceblue;
    background: #3e447e;
    border-radius: 10px;
    box-shadow: 0 0 0 2px #3e447e;
    display: inline-block;
    font-size: 50px;
    margin-bottom: -20px;
    transform: translate(1250%,0);

}
p.gav {
    position: relative;
    color: #fff;
    display: inline-block;
    padding: 6px;
    margin-bottom: -10px;
    box-shadow: 0 0 0 2px #3e447e;
    border-radius: 10px;
    text-align: center;
    width: 65px;
    word-wrap: break-word;
    transform: translate(4%,0);
    font-size: 30px;
    margin: 10px;

}

p.gav1 {
    position: relative;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    box-shadow: 0 0 0 2px #3e447e;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    word-wrap: break-word;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    transform: translate(1%,0);
    font-size: 30px;
    margin: 10px;

}
img{
    transform: translate(-10%, 0);
    box-shadow: 0 0 0;
    border-radius: 10px;

}
pre.nav{
    color: #c0c0c0;
    padding: 10px;
    margin-bottom: -9px;
    font-size: 25px;
}
a.button {
  display: inline-block;
  background: #0000;
  border-style: ridge;
  width: 35%;
  border-color: ;
  position: relative;
  margin-bottom: 10px;
  left: 50%;
  transform: translate(-50%,0);
  border-width: medium;
  border-radius: 10px;
  color: #fff;
  padding: 12px;
  border-radius: 3px;
  text-decoration: none;
  font-family: Georgia;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 100;
}

