$small: 425px;
$mobile: 768px;
$tablet: 1024px;
$desktop: 1216px;
$widescreen: 1440px;
$fullhd: 1920px;

$blue: #5F6DEC;
$green: #40C5C5;
$orange: #EE9E44;
$lightblue: #9CBBFF;
$lightred: #EC5F6B;
$classicgrey: #797979;
$purple: #A85FEC;
$darkgrey: #2E2E2E;
$backgroung: #3A3A3A;
$lightgrey: #BDBDBD;
$black: #232323;
$brightblue: #6290E4;
$pink: #F67B86;
$IOS-theme: #EAEAEA;
$white: #fff;